@model SuperSushi.Data.Gerecht

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gerecht</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soort)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soort)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prijs)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
